.section4_mainContainer{
    position: relative;
}
.section4DisignDiv{
    height:550px;
    width: 100%;
    background-color: red;
    display: flex;
    align-items: flex-end;
}

.section4DisignDiv>div{
    height:95%;
    width: 100%;
    background-color: #E96B6B;
    border-top-right-radius:90%;
    display: flex;
    align-items: flex-end;
}

.section4DisignDiv>div>div{
    height:95%;
    width: 100%;
    background-color: #ffffff;
    border-top-right-radius:100%;
}

.section4_containt{
    top: 0;
    position: absolute;
    margin:40px 5px 5px 5px;
    background-color: rgba(255, 255, 255, 0.745);
    padding: 10px;
    border:1px solid rgba(203, 203, 203, 0.605);
    height:450px;
    border-radius: 10px;
}
.section4_containt>h1{
    color: #990000;
    font-family: "Poetsen One", sans-serif;
    margin: 10px 10px 0px 10px;
}
.section4_containt>hr{
    height:3px;
    background-color: #990000;
    border: 0;
    margin: 5px;
}
.section4_containt>div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow-y: scroll;
    height: 340px;
    margin-top: 30px;
}


.section4_containt>div{
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.section4_containt>div::-webkit-scrollbar {
    display: none; 
}
@media screen and (max-width:500px) {
    .section4_containt>div{
        gap:10px;
    }
}
