.restuarant_mainContainer{
    position: relative;
}
.restuarant{
    position: absolute;
    top: 0; 
    width: 100%;
}
.restuarant>h1{
    color: #990000;
    font-family: "Poetsen One", sans-serif;
    margin: 10px 10px 0px 20px;
}
.slide{
    overflow: hidden;
    display: flex;
}
.slide_liner{
    display: flex;
    justify-content: space-around;
    gap:20px;
    width: 100%;
    height: 400px;
    overflow: scroll;
    /* animation: scroll 5s infinite linear; */
}

/* @keyframes scroll {
    from{ transform: translateX(0); }
    to{ transform: translateX(-100%); } 
} */

.slide_liner{
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.slide_liner::-webkit-scrollbar {
    display: none; 
}

.restuarant_background{
    height: 450px;
    width: 100%;
    background-color: red;
}
.restuarant_background>div{
    height: 90%;
    width: 100%;
    background-color: #E96B6B;
    border-bottom-right-radius:100%;
}

.restuarant_background>div>div{
    height: 90%;
    width: 100%;
    background-color: white;
    border-bottom-right-radius:100%;
}
@media screen and (max-width:600px){
    .slide_liner{
        gap: 10px;
        height: 300px;
        /* margin:5px ; */
    }
    .restuarant_background{
        height: 350px;
    }
    
}