.LoginSignUp{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bg_image{
  background-image: url('../Images/bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  z-index: -1;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #12B1D1;
  position: absolute;
  filter: blur(4px);
  -webkit-filter: blur(4px);
}
.container {
    max-width: 350px;
    background: #F8F9FD;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.655) 0%, rgba(244, 247, 251, 0.812) 100%);
    border-radius: 20px;
    padding: 25px 35px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: #e96b6b;
    margin:20px;
    z-index: 8888;
  
  }
  
  .heading {
    text-align: center;
    font-weight: 900;
    font-size: 25px;
    color:#990000;
  }
  
  .form {
    margin-top: 20px;
  }

  .form>div{
    display: flex;
    gap: 20px;
  }
  
  .form .input {
    width: 85%;
    background: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: #e96b6b 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
  }
  
  .form .input::-moz-placeholder {
    color: rgb(170, 170, 170);
  }
  
  .form .input::placeholder {
    color: rgb(170, 170, 170);
  }
  
  .form .input:focus {
    outline: none;
    border-inline: 2px solid #990000;
  }
  
  .form .forgot-password {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .form .forgot-password a {
    font-size: 11px;
    color: red;
    text-decoration: none;
  }
  
  .form .login-button {
    display: block;
    width: 100%;
    font-weight: bold;
    background: linear-gradient(45deg, #990000 0%, #e96b6b 100%);
    color: white;
    padding-block: 15px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: #e96b6b;
    border: none;
    transition: all 0.2s ease-in-out;
  }
  
  .form .login-button:hover {
    transform: scale(1.03);
    box-shadow: #e96b6b;
  }
  
  .form .login-button:active {
    transform: scale(0.95);
    box-shadow: #e96b6b;
  }
  
  .social-account-container {
    margin-top: 25px;
  }
  
  .social-account-container .title {
    display: block;
    text-align: center;
    font-size: 10px;
    color: rgb(170, 170, 170);
  }
  
  .social-account-container .social-accounts {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 5px;
  }
  
  .social-account-container .social-accounts .social-button {
    background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(112, 112, 112) 100%);
    border: 5px solid white;
    padding: 5px;
    border-radius: 50%;
    width: 40px;
    aspect-ratio: 1;
    display: grid;
    place-content: center;
    box-shadow: #e96b6b;
    transition: all 0.2s ease-in-out;
  }
  
  .social-account-container .social-accounts .social-button .svg {
    fill: white;
    margin: auto;
  }
  
  .social-account-container .social-accounts .social-button:hover {
    transform: scale(1.2);
  }
  
  .social-account-container .social-accounts .social-button:active {
    transform: scale(0.9);
  }
  
  .agreement {
    display: block;
    text-align: center;
    margin-top: 15px;
  }
  
  .agreement a {
    text-decoration: none;
    color: red;
    font-size: 9px;
  }